@model  IEnumerable<SignUp>
@{
    ViewData["Title"] = "Index";
}
<h1> Welcome, Please create an accoount </h1>
 <a asp-controller="SignUp" asp-action="Create" class="btn-primary btn" style="width:100px">Cilick to sign up</a>